<% include ../partials/header.ejs %>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/yahoo/yahoo-min.js"></script>

<h1>Add a stock to your portfolio</h1>
<h2><%= portfolio.name %></h2>

</br></br>
<label for="txtSymbolSearch">Search:</label>
<input class="form-control" id="txtSymbolSearch" />

<script type="text/javascript">
  var YAHOO = {
    Finance: {
      SymbolSuggest: {}
    }
  };

  $( '#txtSymbolSearch' ).autocomplete({
    source: function (request, response) {
        $.ajax({
          type: "GET",
          url: "http://d.yimg.com/autoc.finance.yahoo.com/autoc",
          data: {
            query: request.term
            },
          dataType: "jsonp",
          jsonp : "callback",
          jsonpCallback: "YAHOO.Finance.SymbolSuggest.ssCallback",
        });
        // call back function from yui yahooapis
        YAHOO.Finance.SymbolSuggest.ssCallback = function ( data ) {
          // Create array for customized output rather than default data from Yahoo
          var suggestions = [];
          //console.log(JSON.stringify(data.ResultSet.Result));
          $.each(data.ResultSet.Result, function( index, val ) {
              if (val.exchDisp === "NYSE" || val.exchDisp === "NASDAQ" || val.exchDisp === "NYSEArca" ) {
                suggestions.push("Name: "+ val.name +" #Symbol: "+val.symbol +" #Exchange: " + val.exchDisp);
                //suggestions.push(val.symbol);
              }
          });
          response(suggestions);
        }
  },
  minLength: 1,
    select: function (event, ui) {
       //alert(ui.item.value.split("#")[1]);
       //alert(ui.item.value);
       //$("#txtTicker").val(ui.item.value.split("#")[0]);
       $('#symbol').val(ui.item.value.split("#")[1].split(':')[1]);
       $('#name').val(ui.item.value.split("#")[0].split(':')[1]);
       $('#exchange').val(ui.item.value.split("#")[2].split(':')[1]);
  },
});
</script>
<br>
<form action="/portfolios/<%= portfolio.id %>" method="POST" >
  <div class="form-group">
    <label for="symbol">Symbol:</label>
      <input type="text" id="symbol" name="stock[symbol]" class="form-control">
  </div>
  <div class="form-group">
    <label for="name">Company Name:</label>
      <input type="text" id="name" name="stock[name]" class="form-control" >
  </div>
  <div class="form-group">
    <label for="exchange">Exchange:</label>
      <input type="text" id="exchange" name="stock[exchange]" class="form-control" >
  </div>
  <div class="form-group">
    <label for="amount">Amount:</label>
      <input type="text" id="amount" name="stock[amount]" class="form-control" >
  </div>
  <div class="form-group">
    <input type="submit" value="Add" class="btn btn-primary">
  </div>
</form>

<% include ../partials/footer.ejs %>
