<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolio Constructicon</title>

  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- semantic UI -->

  <link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.0.0/semantic.min.css">
  <script src="//oss.maxcdn.com/semantic-ui/2.0.0/semantic.min.js"></script>

  <style type="text/css">
   body {
     background: #EFECEC;
     color: #6b6b6b;
    }
    a {
      color: #6FBE44;
    }

    a:hover {
      color: orange;
    }
  </style>
</head>
<body>

<div class="ui container">
