<div class="ui orange inverted menu">
  <div class="item">
    <i class="dollar icon"></i>Constockicon
  </div>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <a href="/logout" style="color:white"><i class="sign out icon"></i>log out</a>
      </div>
    </div>
  </div>
</div>
