<% include ./partials/header %>
<div style="width:600px;margin-left:auto;margin-right:auto;text-align:center;">
<h1>Oops, sorry, something went wrong!</h1>
</div>

<hr>
<div class="ui segment">
  <img class="ui centered image" src="/images/monopolyguyshock.gif">
</div>

<div style="width:300px;margin-left:auto;margin-right:auto;text-align:center;">
  <p>
    Go back to your home page
  </p>

  <a href="/signup">
    <div class="huge blue circular ui labeled icon button">
       <i class="home icon"></i>
       Home
   </div>
   </div>
  </a>
</div>

<% include ./partials/footer %>
