<% include ../partials/header.ejs %>
<% include ../partials/menu.ejs %>

<div class="ui breadcrumb">
  <a class="section" href="/portfolios">Home</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="/portfolios/<%= portfolio.id %>">Portfolio - <%= portfolio.name %></a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Edit Portfolio Name</div>
</div>

<h2>Edit portfolio name</h2>
<div class="ui form segment">
  <form class="ui form" method="POST" action="/portfolios/<%= portfolio.id %>/?_method=PUT" >
    <div class="field">
      <label for="name">Name:</label>
        <input type="text" id="name" name="portfolio[name]" value='<%= portfolio.name %>'>
    </div>
      <input class="circular ui green button" type="submit" value="UPDATE">
  </form>
</div>
<% include ../partials/footer.ejs %>
