<% include ../partials/header.ejs %>
<div class="ui breadcrumb">
  <div class="active section">Home</div>
</div>

<h1>Welcome to Portfolio Constructicon</h1>
<div style ='float:right'>
<a href="/logout"><button type="button" name="button" class="ui red button" ><i class="sign out icon"></i>log out</button></a>
</div>

<a href="/portfolios/new"><button type="button" name="button" class="ui green button" ><i class="add circle icon"></i>Create a NEW Portfolio</button></a>

<table class="ui striped table">
  <thead>
    <th>Name</th>
    <th></th>
  </thead>
  <tbody>

  <% portfolios.forEach( function( portfolio ) { %>
    <tr>
      <td>
        <a href="/portfolios/<%= portfolio.id %>"><%= portfolio.name %></a>
      </td>
      <td style="text-align:right">
        <form  action="/portfolios/<%= portfolio.id %>/?_method=DELETE" method="post">
          <input class="circular ui icon button" style="background:red;color:white" type="submit" value="X">
        </form>
      </td>
    </tr>
  <% }) %>

  </tbody>
</table>
<% include ../partials/footer.ejs %>
