<% include ../partials/header.ejs %>

<div class="ui breadcrumb">
  <a class="section" href="/portfolios">Home</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Create New Portfolio</div>
</div>

<h2>Create a new portfolio</h2>

<form method="POST" action="/portfolios" >
  <div class="form-group">
    <label for="name">Name:</label>
      <input type="text" id="name" name="portfolio[name]" class="form-control" autofocus>
  </div>
  <div class="form-group">
    <input type="submit" value="Add" class="btn btn-primary">
  </div>
</form>
<% include ../partials/footer.ejs %>
