<% include ../partials/header %>

<div class="ui fixed inverted orange menu">
  <div class="item">
    <img class="ui tiny circular image" src="/images/dollarphotoclub.jpg">
  </div>
</div>
<h1></h1>
<br>
<br>

<h2>Welcome to Con$tockicon</h2>
<h3>Please sign into your account</h3>
<div class="ui two column middle aligned relaxed fitted stackable grid">
  <div class="column">
    <div class="ui form segment">
      <form class="ui form" method="POST" action="/login" >
        <div class="two fields">
          <div class="required field">
            <label for="username"> Username:</label>
            <div class="ui icon input">
              <input type="text" id="email" name="user[username]" placeholder="username" required="true" autofocus>
              <i class="user icon"></i>
            </div>
          </div>
          <div class="required field">
            <label for="pass"> Password:</label>
            <div class="ui icon input">
              <input type="password" id="pass" name="user[password]" placeholder="enter password" required="true">
              <i class="lock icon"></i>
            </div>
          </div>
        </div>
        <input type="submit" value="Login" class="ui circular green button">
      </form>
    </div>
  </div>

<div class="ui vertical divider">
  Or
</div>

<div class="center aligned column">
  <p>
    Don't have an account? Sign up here
  </p>

  <a href="/signup">
    <div class="huge blue circular ui labeled icon button">
       <i class="signup icon"></i>
       Sign Up
   </div>
   </div>
  </a>
</div>

<% include ../partials/footer %>
