<% include ../partials/header %>
<script src="/js/signup.js" charset="utf-8"></script>

<div class="ui fixed inverted orange menu">
  <div class="item">
    <img class="ui tiny circular image" src="/images/dollarphotoclub.jpg">
  </div>
</div>
<h1></h1>
<br>
<br>
<h2>Welcome to Con$tockicon</h2>
<h3>Please sign up and create your account</h3>
<div class="ui segment">
  <div class="ui form segment">
    <form class="ui form" method="POST" action="/signup" >
      <div class="two fields">
        <div class="required field">
          <label for="email">Username (email):</label>
            <div class="ui icon input">
              <input type="email" id="email" name="user[username]" required="true" autofocus>
              <i class="user icon"></i>
            </div>
        </div>
        <div class="required field">
          <label for="pass"> Password: </label>
          <div class="ui icon input">
            <input type="password" id="pass" name="user[password]" required="true" >
            <i class="lock icon"></i>
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="required field">
          <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="user[firstname]" required="true" >
        </div>
        <div class="required field">
          <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="user[lastname]" required="true" >
        </div>
      </div>
      <div class="inline field">
        <div class="ui checkbox">
          <input id='terms' name="terms" type="checkbox">
          <label>I agree to the terms and conditions</label>
        </div>
      </div>
      <input type="submit" value="Sign up" class="ui circular green button">
    </form>
  </div>
</div>

<div class="ui horizontal divider">
  Or
</div>

<div style="width:300px;margin-left:auto;margin-right:auto;text-align:center;">
  <p>
    Already have an account? Login in here
  </p>
    <a href="/login">
      <div class="huge blue circular ui labeled icon button">
         <i class="sign in icon"></i>
         Login
     </div>
   </a>
 </div>

<% include ../partials/footer %>
