<% include ../partials/header %>

<h1>Sign up</h1>
<div class="ui segment">

<div class="ui form segment">

<form class="ui form" method="POST" action="/signup" >
  <div class="two fields">
    <div class="required field">
      <label for="username">Username:</label>
        <div class="ui icon input">
          <input type="text" id="username" name="user[username]" class="form-control" autofocus>
          <i class="user icon"></i>
        </div>
    </div>
    <div class="required field">
      <label> Password: </label>
      <div class="ui icon input">
        <input type="password" id="pass" name="user[password]" class="form-control">
        <i class="lock icon"></i>
      </div>
    </div>
  </div>
  <div class="two fields">
    <div class="required field">
      <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="user[firstname]" class="form-control" >
    </div>
    <div class="required field">
      <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="user[lastname]" class="form-control" >
    </div>
  </div>
  <input type="submit" value="Sign up" class="ui green button">
</form>
</div>
</div>

<div class="ui horizontal divider">
  Or
</div>
<div style="width:300px;margin-left:auto;margin-right:auto;text-align:center;">

<p>
  Already have an account? Login in here
</p>
  <a href="/login">
    <div class="huge blue ui labeled icon button">
       <i class="sign in icon"></i>
       Login
   </div>
 </a>
 </div>
<% include ../partials/footer %>
